@model BulkyBook.Models.ViewModels.ShoppingCartVM

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                    </div>
                                    <hr class="my-4">
                                    @foreach (var item in Model.ListCart)
                                    {

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">

                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="@item.Product.ImageUrl"
                                                     class="img-fluid rounded-3">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-black mb-0">
                                                    @item.Product.Title
                                                </h6>
                                                <h6 class="text-muted">
                                                    @Html.Raw(item.Product.Description)
                                                </h6>
                                            </div>

                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <div class="col-1">
                                                        <a asp-action="plus" asp-route-cartId="@item.Id"><i class="bi bi-plus-square"></i></a>
                                                        <a asp-action="minus" asp-route-cartId="@item.Id"><i class="bi bi-dash-square"></i></a>
                                                </div>

                                            </div>
                                            <div class="col-1">
                                                <a asp-action="remove" asp-route-cartId="@item.Id"><i class="bi bi-file-x-fill"></i></a>
                                            </div>
                                            <div class="col-4">
                                                <h6 class="mb-0">@item.Price.ToString("c")<span class="text-muted">&nbsp;x&nbsp;</span>@item.Count</h6>
                                            </div>
                                        </div>
                                    }

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a asp-area="Costumer" asp-controller="Home" asp-action="Index" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Continue Shopping
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items 3</h5>
                                        <h5>€ 132.00</h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Standard-Delivery- €5.00</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>@Model.CartTotal.ToString("c")</h5>
                                    </div>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">
                                        <a asp-action="Summary">Summary</a>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>