@model BulkyBook.Models.ViewModels.ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<BulkyBook.Utility.StripeSettings> Stripe

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Summary</h1>
                                    </div>
                                    <hr class="my-4">
                                    <form asp-action="Summary" method="post">

                                    <h3 class="fw-bold mb-4">Total Price</h3>
                                    <h4>Total Price</h4>
                                    <ul class="list-group mb-3">
                                        @foreach(var details in Model.ListCart)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@details.Product.Title</h6>
                                                    <small class="text-muted">Quantity: @details.Count</small>
                                                </div>
                                                <span class="text-muted">@((details.Price * details.Count).ToString("c"))</span>
                                            </li>
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Total (USD)</small>
                                            <strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
                                        </li>
                                    </ul>
                                    <!-- Input fields for customer information -->
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Name</label>
                                            <input asp-for="OrderHeader.Name" type="text" class="form-control">
                                            <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Phone</label>
                                            <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control">
                                            <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Street Address</label>
                                            <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control">
                                            <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="name" class="form-label">City</label>
                                            <input asp-for="OrderHeader.City" type="text" class="form-control">
                                            <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <label for="name" class="form-label">State</label>
                                                <input asp-for="OrderHeader.State" type="text" class="form-control"d>
                                                <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                            </div>
                                            <div class="col">
                                                <label for="name" class="form-label">Postal Code</label>
                                                <input asp-for="OrderHeader.PostalCode" type="text" class="form-control">
                                                <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8 pt-2">
                                            <p style="color:maroon; font-size:14px;">Estimated Arrival Date:
                                                @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                                            </p>
                                        </div>
                                        <button  type="submit" class="btn btn-dark btn-lg">
                                           Place Order
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
